body {
    height: 100%;
    background-color: #36454F;
    padding: 0;
    margin:0;
}

div#opening {
    top:0;
    margin:0;
    height: 100vh;
    text-align: center;
    display: table;
    width: 100%;
    background-color: black;
    opacity: 1;
}

#opening h1 {
    display:table-cell;
    margin: auto;
    vertical-align: middle;
    color: white;
    font-size: 100px;
}


section {
    height: 500px;
    width:100%;
}
section#name { 
    position: absolute;
    top: 50vh;
    left:0;
    display: table;
    text-align: center;
    
}
#name {
    z-index: -1;
    opacity: 0;
    text-align: center;
}

#name h2 {
    text-align: center;
    display:table-cell;
    margin: auto;
    vertical-align: middle;
    color: black;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

/*Navigation*/
nav {
    background-color: black;
    padding: 10px;
    width: 100%;
    position: fixed;
    top: 0px;
    transition: top 0.3s;
    z-index: 1;
    height:30px;
    box-shadow: rgba(100, 100, 100, 0.4) 0px 2px 4px, rgba(100, 100, 100, 0.3) 0px 7px 13px -3px, rgba(100, 100, 100, 0.2) 0px -3px 0px inset;
}

nav.hover {
    background-color: black;
    padding: 10px;
    width: 100%;
    position: fixed;
    top: -40px;
    transition: top 0.3s;
    z-index: 1;
    height:30px;
    box-shadow: rgba(100, 100, 100, 0.4) 0px 2px 4px, rgba(100, 100, 100, 0.3) 0px 7px 13px -3px, rgba(100, 100, 100, 0.2) 0px -3px 0px inset;
}
nav.hover:hover {
    top:0px;
    padding: 10px;
    
}
  
/*Navigation Links*/

nav ul li a {
    color: white;
    text-decoration: none;
    margin: 0px 10px;
    text-align: center;
}
  

nav ul {
    margin:0;
    display:flex;
}

.nav_item {
    list-style: none;
    padding:5px 10px;
    margin:0;
}

.nav_item a {
    margin:0;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
}

.nav_item div {
    height: 5px;
    background-color: black;
    width: 5px;
    margin: auto;
    border-radius: 40px;
    /* transition-property: width, background-color; */
    transition-delay: background-color 1s;
    transition-duration: 0.5s;
}
.nav_item #active_page {
    background-color: white;
}


.hovered div {
    background-color: white;
    width: 35px;
}


/* CONTACTS PAGE */

#contacts_box {
    
    margin:auto;
    width:50%; 
    height:60%;
    padding: 10px;
    position: absolute;
    top: 20%;
    /*transform: translate(0, 0%);*/
    left:25%;
    
}

#contacts_box h2 {
    margin: 0;
    padding: 0;
    font-size: 50px;
    color: white;
}

#contacts {
    background-color: white;
    border: 5px solid;
    box-shadow: rgba(100, 100, 100, 0.4) 0px 2px 4px, rgba(100, 100, 100, 0.3) 0px 7px 13px -3px, rgba(100, 100, 100, 0.2) 0px -3px 0px inset;
    border-radius: 7px;
    height: 80%;
    width: 90%;
}

#contacts ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    height: 100%;
}

.contact {
    width: 150px;
    height: 50px;
    margin-left: 5%;
}

.contact a {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #333333;
    border-radius: 6px;
    outline: none;
    transition: 0.3s;
    width: 100%;
    height: 100%;
    margin: auto;
}

.contact_info {
    height: 100%;
    display: table;
    text-align: center;
}

.contact_info p {
    display: table-cell;
    vertical-align: middle;
    font-size: x-large;
}

.contact_info img {
    display: inline-block;
    margin:auto;
}

.contact a:hover {
    background-color:silver;
    color: black;
}

ul {
    list-style-type: none;
  }

